.title { margin-top: 15px; font-size: xx-large; text-align: center }

.config-container { display: grid; grid-template-columns: 30% 70% }

.password { margin-left: 5%; margin-top: 150px; font-size: xx-large }
.password div { display: grid; grid-template-columns: 40% auto  }
.password input { width: 100%; margin: auto; background-color: rgba(41, 171, 226, 0.15); color: white; font-size: x-large; border: 0; padding-left: 5px }
.password button{ font-size: x-large; color: white; border: 2px solid white; border-radius: 10px; background-color: transparent; margin-top: 15px }
.password button:hover{ color: cyan; border-color: cyan; }
.password button:active{ color: black; border-color: black; }

.avatar { margin-left: 5%; font-size: xx-large }
.avatar img {width: 35%; height: auto; object-fit: contain; margin : auto 5% auto auto; opacity: 1; filter: alpha(opacity=100); }
.avatar img:hover {opacity: 0.2; filter: alpha(opacity=20);}

.selected { border:5px solid white }

button{ font-size: x-large; color: white; border: 2px solid white; border-radius: 10px; background-color: transparent; margin-top: 15px; margin-left: 10% }
button:hover{ color: cyan; border-color: cyan; }
button:active{ color: black; border-color: black; }