<div class='cuestionario-container'>
<p>Vamos a ver si entendimos que pasó con el complot en Xanadú...</p>
<div class='cuestionario'>
    <div [ngClass] = "questionState[0]">
        <label>Estos son los protagonistas del relato</label>
        <select [(ngModel)]="selectedAnswers[0]">
            <option value='a'>Eugenio, Mónica, Camila, Fernando</option>
            <option value='b'>Mónica, Lucas, Martin, Fernando</option>    
            <option value='c'>Mónica, Eugenio, Lucas, Jessica</option>    
            <option value='d'>Eugenio Camila, Fernando, Martin</option>        
        </select>
    </div>
    
    <div [ngClass] = "questionState[1]">
        <label>El código inventado por Jessica es una combinación de</label>
        <select [(ngModel)]="selectedAnswers[1]">
            <option value='a'>Braile y Código Binario</option>
            <option value='b'>Código Binario y Encriptaciones</option>    
            <option value='c'>Braile y Mandarin</option>    
            <option value='d'>Código Binario y Lenguaje C</option>        
        </select>
    </div>
    
    <div [ngClass] = "questionState[2]">
        <label>Los androides del cómic se llaman:</label>
        <select [(ngModel)]="selectedAnswers[2]">
            <option value='a'>Franco y Mónica</option>
            <option value='b'>Eugenio y Jessica</option>    
            <option value='c'>Lázaro y Aurorita</option>           
        </select>
    </div>
    
    <div [ngClass] = "questionState[3]">
        <label>¿Dónde ocurren los hechos?</label>
        <select [(ngModel)]="selectedAnswers[3]">
            <option value='a'>Colombia del futuro</option>
            <option value='b'>Ciudad anónima</option>    
            <option value='c'>Otro planeta</option>           
        </select>
    </div>
    
    <div [ngClass] = "questionState[4]">
        <label>¿Cuándo ocurren los hechos?</label>
        <select [(ngModel)]="selectedAnswers[4]">
            <option value='a'>Febrero 2050</option>
            <option value='b'>Julio 2055</option>    
            <option value='c'>Octubre 2075</option>
            <option value='d'>Enero de 2085</option>             
        </select>
    </div>
    
    <div [ngClass] = "questionState[5]">
        <label>¿Qué es RDD?</label>
        <select [(ngModel)]="selectedAnswers[5]">
            <option value='a'>Red digital democrática</option>
            <option value='b'>Resistencia democrática digital</option>    
            <option value='c'>Red diurna digital</option>
            <option value='d'>Resistencia directa digital</option>             
        </select>
    </div>
    
    <div [ngClass] = "questionState[6]">
        <label>¿Por qué desaparecen al doctor Holtzman?</label>
        <select [(ngModel)]="selectedAnswers[6]">
            <option value='a'>Por sus vínculos con la RDD</option>
            <option value='b'>Por su amistad con Lucas Franco</option>    
            <option value='c'>Por investigar sin autorización contenidos digitales problemáticos</option>
            <option value='d'>Por su cercanía a Jessica Petry</option>              
        </select>
    </div>
    
    <div [ngClass] = "questionState[7]">
        <label>¿Quién salva a lo niños del IMS del atentado?</label>
        <select [(ngModel)]="selectedAnswers[7]">
            <option value='a'>Holtzman</option>
            <option value='b'>Mónica</option>    
            <option value='c'>Lucas</option>
            <option value='d'>Jessica</option>             
        </select>
    </div>
</div>
<p>{{msn}}</p>
<div class='reportero-container'>
    <button (click) = "verify()" class='main-button reportero-button'>Verificar</button>
    <button (click) = "onReset()" class='main-button reportero-button'>Reiniciar</button>
    <button (click) = "onContinue()" class='main-button reportero-button'>Al Escritorio</button>
</div>
</div>