<div class="intro-container">
    <div><p>Hola.</p>
    
    <p> En esta primera tarea como Crítico, debes contestar adecuadamente las preguntas sobre la novela Secretos de Xanadú que están en el formulario correspondiente. Recuerda
        que debes escribir en papel o en un dispositivo las respuestas correctas, pues éstas te servirán para redactar un ensayo literario.
    </p></div>
    <div class='video-container'>
        <video #vid width="90%" height="auto" autoplay class="video">
            <source src="assets/static/animations/anim-critico.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<div class='button-container'>
    <button (click)="onAgain()" class="main-button animacion-button ">VOLVER A VER</button>
    <button (click)="onContinue()" class="main-button animacion-button ">CONTINUAR</button>
</div>