<div class="intro-container">
    <div><p>Hola.</p>
    
    <p> ¿Puedes representar cómo será el mundo en el año 2055? Necesitamos de tu imaginación para darle forma al escenario en que se mueve el relato de Xanadú. Puedes ir a tu
        biblioteca, consultar internet o reunirte con tus amigos o compañeros y discutir cómo podría ser el mundo y tu mundo en 30 años. También puedes ir a nuestro blog para
        profundizar en los temas. Te voy a ofrecer una ayuda: el Oráculo, un artefacto al que le puedes hacer una pregunta para que él te de una misión narrativa. Una vez
        termines tu misión, presenta tu relato al Máster, quien le dará una calificación. Inténtalo.
    </p></div>
    <div class='video-container'>
        <video #vid width="90%" height="auto" autoplay class="video">
            <source src="assets/static/animations/anim-vidente.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<div class='button-container'>
    <button (click)="onAgain()" class="main-button animacion-button ">VOLVER A VER</button>
    <button (click)="onContinue()" class="main-button animacion-button ">CONTINUAR</button>
</div>