<div class='vidente-container'>
    <div class="vidente-reto" *ngIf='retoActual != ""'>{{retoActual}}</div>
    <img class="vidente-oraculo" src="assets/static/oraculo/oraculo.gif" (click) = "onOracleClick()">
    <div class="vidente-opciones">
        <button  *ngIf = "basicAble" class="{{poolBasico}}" (click) = "changePool('basico')">Retos Básicos</button>
        <button  *ngIf = "masterAble" class="{{poolMaster}}" (click) = "changePool('master')">Retos del Master</button>
        <button *ngIf = "acceptAble" class="vidente-button" (click) = 'onAccept()'>Aceptar Reto</button>
        <button  class="vidente-button" (click) = "onContinue()">Volver</button>
    </div>
    <span class="vidente-aceptar-texto">{{msnAceptar}}</span>
</div>