<h1>Santuario Magis</h1>

<p>Bienvenido a tu santuario. Disfruta de los privilegios de ser un Magis</p>

<div class="opciones grid-container">
    <button (click) = "onDownload('assets/static/comic.zip')" class="grid-item">Comic</button>
    <button (click) = "onDownload('assets/static/musica.zip')" class="grid-item">Música</button>
    <button (click) = "onDownload('assets/static/novela.pdf')" class="grid-item">Novela</button>
    <a href ='https://www.youtube.com/watch?v=3VKy6gzxSlU' target="_blank"><button class="grid-item">Angeles</button></a>
</div>

<button (click) = "onContinue('roles')" class="main-button">Al Escritorio</button>